:root {
  --bg-color: #eadab7;
  --frame-color: #f5e8d9;
  --accent-color: #514f16;
  --main-color: #502c18;
  --link-color: #8d5f48;
  --highlight-color: #afad55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--highlight-color) var(--link-color);
}

@font-face {
  font-family: 'Mikiyu Font NEW-PENJI- P';
  src: url('..\public\fonts\Mikiyu-Font-NEW-PENJI--P-.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::selection {
  background-color: var(--highlight-color);
}

::-moz-selection {
  color: var(--highlight-color);
}

html {
  background-color: var(--bg-color);
  font-family: 'Klee One', sans-serif;
  font-weight: bold;
}

/* DARK MODE */

html.dark {
  background-color: var(--accent-color);
  color: var(--frame-color);
}

.dark .hamburger .line {
  background-color: var(--highlight-color);
}

.dark .nav-links a {
  color: var(--highlight-color);
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: var(--link-color);
}

a .dark {
  color: var(--highlight-color);
}

.dark #wrapper {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.dark #footer {
  color: var(--highlight-color);
}

.dark mark {
  background-color: var(--link-color);
  color: var(--bg-color);
} 

/* BODY STYLING */

body {
  font-size: 1em;
  color: var(--main-color);
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

#wrapper {
  background-color: var(--frame-color);
  padding: 0.5em 1em;
  margin-top: 1.5em;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-family: 'Mikiyu Font NEW-PENJI- P', sans-serif;
}

hr {
  border-style: dashed none none;
  border-width: 5px;
  border-color: var(--highlight-color);
  margin: 1em 0;
}

p {
  margin-bottom: 1em;
}

a {
  color: var(--link-color);
  text-decoration: underline dotted;
  text-underline-offset: 3px;
}

/* nav styles */

.hamburger {
  cursor: pointer;
  padding: 1em;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: var(--link-color);
  border-radius: 50px;
}
  
.nav-links {
  font-family: 'Mikiyu Font NEW-PENJI- P', sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  display: none;
  margin: auto;
  margin-top: 1em;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: var(--link-color);
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--highlight-color);
}

.nav-links a::selection {
  color: var(--bg-color);
}

/* wrapper styles */

mark {
  background-color: var(--highlight-color);
  padding: 2px 5px;
  border-radius: 4px;
  color: var(--main-color);
}

mark::selection {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

ul {
  list-style: "♥ ";
  margin-left: 1.2em;
}

.expanded {
  display: unset;
}

#footer {
  display: block;
  font-family: 'Mikiyu Font NEW-PENJI- P';
  text-align: center;
  color: var(--link-color);
  font-size: 1rem;
  margin-top: 1rem;
}

.mikiyu {
  font-family: 'Mikiyu Font NEW-PENJI- P';
}

@media screen and (min-width: 636px) {
  #wrapper {
    padding: 0.8em 2em;
    border-radius: 10px;
  }

  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
    margin-bottom: 0.5em;
  }

  .nav-links a {
    display: inline-block;
    margin: auto;
    padding: 0px 10px;
  }

  .hamburger {
    display: none;
  }

}