---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "tag index";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="tags">{tags.map((tag) => <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>)}</div>
</BaseLayout>

<style>
    :root {
    --bg-color: #eadab7;
    --frame-color: #f5e8d9;
    --accent-color: #514f16;
    --main-color: #502c18;
    --link-color: #8d5f48;
    --highlight-color: #afad55;
    }

    a {
      color: var(--bg-color);
      text-decoration: none;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 0.75em;
      background-color: var(--main-color);
    }

    :global(.dark) a {
      color: var(--bg-color);
    }

    :global(.dark) .tag {
      background-color: var(--link-color);
    }
  </style>