---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "Hi, I'm Roo!";

const skills = ["JavaScript", "Astro", "Data Visualization"];
---

<BaseLayout pageTitle={pageTitle}>
    <p>There's not much to say about me but I will say this: I'm forever a student, an artist, a listener, and a dog lady.</p>
    <p>Unsurprisingly, I love matcha and chocolate. I used to hate the color green, but I found ways to love it. It's my favorite now!</p>
    <hr />
    <p>Here are some other things I like:</p>
    <div id="interests">
      <div class="column" id="movies">
        <h2>movies</h5>
        <p>
          Perfect Blue<br />
          Paprika<br />
          Pacific Rim<br />
          (Everything, Everywhere, All at Once)<br />
        </p>
      </div>
      <div class="column" id="games">
        <h2>games</h5>
        <p>
          Baldur's Gate 3<br />
          Hades<br />
          Marvel Rivals<br />
          Don't Starve<br />
          (The House in Fata Morgana)
        </p>
      </div>
      <div class="column" id="shows">
        <h2>shows</h5>
        <p>
          Arcane<br />
          Community<br />
          <br />
        </p>
      </div>
      <div class="column" id="books">
        <h2>books</h5>
        <p>
          Captive Prince<br />
          The Raven Cycle<br />
          Maze Runner<br />

        </p>
      </div>
    </div>
    <hr />
    <p>Currently I'm learning:</p>
    <ul><span class="mikiyu">
    {skills.map((skill) => <li class="skill">{skill}</li>)}
    </span></ul>
    <br />
    <p>I'm of the opinion that no matter where you are in life growth is always a happy little thing to have. Let this blog be a testament of that!</p>
    <hr />
    <p>Thanks for reading up about me!</p>
    </BaseLayout>

    <style>
      #interests {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .column {
        padding: 0.5em;
        margin: 0 0.5em;
        max-width: 150px;
      }

      .column h2 {
        margin: 0;
        text-align: center;
      }

      .column p {
        text-align: center;
        font-size: 0.75em;
        margin: 0;
      }
    </style>