---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
    <h2>HTML, CSS, Javascript</h2>
    <p>I learned from</p>
    <h2>Buttons</h2>
    </BaseLayout>