---
---
<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24AeFyICTOhPwxMZNf5cMGW0"+"&opts=16798&num=10&ts=1734509759876");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->

<style>
:root {
  --bg-color: #eadab7;
  --frame-color: #f5e8d9;
  --accent-color: #514f16;
  --main-color: #502c18;
  --link-color: #8d5f48;
  --highlight-color: #afad55;
}

#HCB_comment_box {
    font-family: 'Mikiyu Font NEW-PENJI- P';
    color: var(--link-color);
}
</style>