---
---
<div class="nav-links">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/blog">blog</a>
    <a href="/tags">tags</a>
    <a href="/credits">credits</a>
    <a href="/guestbook">guestbook</a>
</div>