---
---
<div class="nav-links">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/blog">blog</a>
    <a href="/tags">tags</a>
    <a href="/pages">pages</a>
    <a href="">guestbook</a>
</div>